<% include ../partials/header %>

<div class="container">
    <div class="row">
        <form class="form-inline pull-right" action="assets" method="GET">
            <input style="width: 300px" type="search" class="form-control" placeholder="Search all <%= currentUser.company %> shipments" name="search">
        </form>
        <h1 style="display: inline"><%= currentUser.company %> Shipments</h1>
            <% if(!query) { %>
                <p>The last <%= records.length %> shipments for <%= currentUser.company %>.  Filter these assets with the small Search box.</p>
            <% } else { %>
                <p>There are <%= records.length %> assets that contain the term "<%= query %>"</p>
            <% } %>
            <script>
                $(document).ready(function() {
                    $('#assetTable').DataTable( {
                        "data": <%- JSON.stringify(records) %>,
                        "pageLength": 25,
                        "processing": true,
                        "columns": [
                            { "data": "rid", defaultContent: "" ,
                                "render": function(data) {
                                    return '<a href="/assets/'+data+'">Details</a>';
                            }},
                            { "data": "200", defaultContent: "" },
                            { "data": "204", defaultContent: "",
                                "render": function(data){
                                    if(data.includes('Info ')) {
                                        return('Info Change');
                                    } if(data.includes('Support')){
                                        return('Support');
                                    } else {
                                        return(data);
                                    }
                                }
                            },
                            { "data":  "43", defaultContent: "" },
                            { "data":  "33", defaultContent: "",
                                "render": function(data){
                                    if(data) {
                                        return(moment(data).format('M-D-YYYY'));
                                    }
                            }},
                            { "data": "743", defaultContent: "" },
                            { "data": "364", defaultContent: "",
                                "render": function ( data, type, full, meta ) {
                                      return type === 'display' && data.length > 40 ?
                                        '<span title="'+data+'">'+data.substr( 0, 38 )+'...</span>' :
                                        data;
                            }},
                            { "data": "760", defaultContent: "" },
                            { "data": "266", defaultContent: "" },
                            { "data": "268", defaultContent: "" },
                            { "data": "418", defaultContent: "",
                                "render": function(data) {
                                    if(data) {return '<a class="button btn-primary btn-xs" href="'+data+'">Track</a>';}
                            }}
                        ],
                    } );
                } );
            </script>
        <div class='container' id="bg">
        <table id="assetTable" class="table table-hover table-condensed display">
            <thead>
                <tr>
                    <th>Details</th>
                    <th>Client</th>
                    <th>Order Type</th>
                    <th>Reference</th>
                    <th>Ship Date</th>
                    <th>Terminal</th>
                    <th>Location</th>
                    <th>Platform</th>
                    <th>Carrier</th>
                    <th>Mobile Number</th>
                    <th>Tracking</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Details</th>
                    <th>Client</th>
                    <th>Order Type</th>
                    <th>Reference</th>
                    <th>Ship Date</th>
                    <th>Terminal</th>
                    <th>Location</th>
                    <th>Platform</th>
                    <th>Carrier</th>
                    <th>Mobile Number</th>
                    <th>Tracking</th>
                </tr>
            </tfoot>
        </table>
        </div>
    </div>
</div>

<% include ../partials/footer %>

